<!-- header start -->
<header class="header" [hidden]="
hideHeader || 
router.url === '/login' || 
router.url === '/register' || 
router.url === '/scanner' || 
router.url.includes('/profile/(panel:services') ||
router.url.includes('/profile/(panel:wallet') ||
router.url.includes('/profile/(panel:suscription-plan') ||


router.url.includes('/profile/(panel:biografy') ||
router.url.includes('/profile/(panel:gallery') ||
router.url.includes('/profile/(panel:add-gallery') ||
router.url.includes('/profile/(panel:documents') ||
router.url.includes('/profile/(panel:payment') ||
router.url.includes('/profile/(panel:settings') ||
router.url.includes('/profile/(panel:emergency-info') ||
router.url.includes('/profile/(panel:client-biografy') ||
router.url === '/profile'" >
    <div class="custom-container">
        <div class="head-content">
            <a href="home.html#sidebar" class="sidebar-btn" data-bs-toggle="offcanvas">
                <i class="iconsax" data-icon="text-align-left"></i>
            </a>
            <!-- <a  class="header-location">
                <div class="location-icon">
                    <img class="img-fluid location" src="assets/images/svg/location.svg" alt="location">
                </div>
                <div class="location-content">
                    <div class="d-flex align-items-center gap-1">
                        <h6>Ubicación actual</h6>
                        <i class="iconsax d-arrow" data-icon="chevron-down"></i>
                    </div>
                    <h5 id="user-location">{{ locationText }}</h5>
                    <button type="button"
                    class="chip-toggle"
                    [class.off]="!locationActive"
                    (click)="toggleGeo()">
              {{ locationActive ? 'Envío: Activo' : 'Envío: Inactivo' }}
            </button>
              
                  </div>
            </a> -->
            <!-- header.component.html -->
            <a class="header-location">
                <div class="location-icon" 
                style="min-width: 32px;">
                <img class="img-fluid location" 
              
                src="assets/images/svg/location.svg" alt="location"
                
                (click)="onLocationClick()">
                </div>
                <div class="location-content">
                <div class="d-flex align-items-center gap-1">
                    <h6>Ubicación actual</h6>
                    <i class="iconsax d-arrow" data-icon="chevron-down"></i>
                </div>
            
             <h5
  id="user-location"
  role="button"
  tabindex="0"
  class="cursor-pointer"
  (click)="onLocationClick()"
>
  {{ locationText() }}
</h5>
            
                <!-- <button
                    type="button"
                    class="chip-toggle"
                    [class.off]="!locationActive()"
                    (click)="toggleGeo()">
                    {{ locationActive() ? 'Envío: Activo' : 'Envío: Inactivo' }}
                </button> -->
                </div>
            </a>
  
              
            <div class="d-flex align-items-center gap-2">
                <a href="search.html">
                    <i class="iconsax icon-btn" data-icon="search-normal-2"></i>
                </a>
                <a href="notification.html">
                    <i class="iconsax icon-btn notification-icon" data-icon="bell-2"></i>
                </a>
            </div>
        </div>
    </div>
  </header>
  <header class="auth-header" [hidden]="router.url !== '/login' && router.url !== '/register'">
      <div class="custom-container">
          <div class="header-panel pb-3">
              <a [routerLink]="['/home']" >
                  <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
              </a>
  
              <img class="img-fluid logo" src="assets/images/logo/logo.png" alt="logo">
              <img class="img-fluid logo-dark" src="assets/images/logo/logo-white.png" alt="logo">
          </div>
      </div>
  </header>
  <!-- header end -->