<!-- header start -->
<header class="header" [hidden]="
hideHeader || 
router.url === '' ||

router.url === '/new' ||
router.url === '/login' || 
router.url === '/register' || 
router.url === '/scanner' || 
router.url === '/' ||

router.url.includes('/profile/(panel:services') ||
router.url.includes('/profile/(panel:wallet') ||
router.url.includes('/profile/(panel:suscription-plan') ||


router.url.includes('/profile/(panel:biografy') ||
router.url.includes('/profile/(panel:gallery') ||
router.url.includes('/profile/(panel:add-gallery') ||
router.url.includes('/profile/(panel:documents') ||
router.url.includes('/profile/(panel:payment') ||
router.url.includes('/profile/(panel:settings') ||
router.url.includes('/profile/(panel:emergency-info') ||
router.url.includes('/profile/(panel:client-biografy') ||
router.url === '/profile'" >
    <div class="custom-container">
        <div class="head-content">
            <a href="home.html#sidebar" class="sidebar-btn" data-bs-toggle="offcanvas">
                <i class="iconsax" data-icon="text-align-left"></i>
            </a>
              <a [routerLink]="['/home']"  [hidden]="router.url ==='/new' ||
  router.url !== '/login' && router.url !== '/register'
  && router.url !== '/home'">
                  <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
              </a>
    <div class="custom-container">
          <div class="header-panel pb-3">
              
  
              <img class="img-fluid logo" src="assets/images/logo/logo.png" alt="logo">
              <!-- <img class="img-fluid logo-dark" src="assets/images/logo/logo-white.png" alt="logo"> -->
          </div>
      </div>
            
            <div class="d-flex align-items-center gap-2">
                   <a href="notification.html">
                    <i class="iconsax icon-btn notification-icon" data-icon="bell-2"></i>
                </a>
            </div>
        </div>
    </div>
  </header>
  <!-- <header class="auth-header" [hidden]="router.url ==='/new' ||
  router.url !== '/login' && router.url !== '/register'
  && router.url !== '/home'">
      <div class="custom-container">
          <div class="header-panel pb-3">
              <a [routerLink]="['/home']" >
                  <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
              </a>
  
              <img class="img-fluid logo" src="assets/images/logo/logo.png" alt="logo">
              <img class="img-fluid logo-dark" src="assets/images/logo/logo-white.png" alt="logo">
          </div>
      </div>
  </header> -->
  <!-- header end -->