<section class="section-b-space" *ngIf="isLoggedIn">
  <div class="custom-container">
    <div *ngIf="!isGalleryRoute()">
    <div *ngIf="!router.isActive(router.url + '/(panel:biografy)' || router.url + '/(panel:gallery)', false)">
    <div class="profile-background">
      <img class="img-fluid profile-bg" src="assets/images/background/profile-bg.png" alt="profile-bg" />
      <div class="profile-part mt-3">
        <div class="profile-image">
          <img class="img-fluid profile-pic" [src]="avatarSrc()" alt="profile" />
          <span class="material-symbols-rounded edit-icon" (click)="navigateToBiography()" >edit</span>
        </div>
        <h3>{{ userName }}</h3>
        <h4>{{ userEmail }}</h4>
      </div>

      <div *ngIf="role === 'professional'" class="balance-background mt-3">
        <a [routerLink]="['/profile', { outlets: { panel: ['wallet'] } }]" class="balance-details">
          <h5 class="fw-medium">Saldo disponible :</h5>
          <div class="d-flex align-items-center gap-1">
            <!-- <h4>$0.00</h4> -->
             <!-- <h4>{{ balanceAvailable | currency:'USD':'symbol':'1.2-2' }}</h4> -->
             <h4>{{ balanceAvailable | number:'1.0-2' }} credits</h4>
            <span class="material-symbols-rounded arrow-icon">arrow_forward</span>
          </div>
        </a>
      </div>
    </div>
    <app-expert *ngIf="role === 'professional'"  [user]="user"></app-expert>
    <app-client *ngIf="role === 'client'"></app-client>
  </div>
  </div>
  <router-outlet name="panel"></router-outlet>
</div>
</section>

