.section-lg-t-space.section-b-space {
    display: flex;
    justify-content: center;   /* Centra horizontal */
    align-items: flex-start;   /* Arranca desde arriba */
    min-height: 100vh;
    padding-top: 20vh;         /* Desplaza hacia abajo un 20% de la altura */
  }
  bs-btn-outline-primary{
border-color: #f9680f;
  }
  