<div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="sidebar">
    <div class="offcanvas-header sidebar-header">
        <div class="sidebar-logo">
            <img class="img-fluid logo" src="assets/images/logo/logo.png" alt="logo">
            <img class="img-fluid logo-dark" src="assets/images/logo/logo-white.png" alt="logo">
        </div>
    </div>
    <div class="offcanvas-body">
        <div *ngIf="isLogged()" class="profile-background">
            <div class="profile-part p-0">
                <div class="profile-image">
                    <img id="output" class="img-fluid profile-pic" src="assets/images/profile/profile2.png" alt="11">
                </div>

                <h3>{{ userName }}</h3>
                <h4>{{ userEmail }}</h4>
            </div>
        </div>
        <div *ngIf="!isLogged()" class="login-register-section text-center">
            <p class="mb-3">Welcome to Wallizo V beta 1.0</p>
            <div class="row" style="padding: 15px !important;">
                <!-- <div class="col-6">
                    <button routerLink="/register" class="btn theme-outline-btn w-100"
                        style="background-color: transparent;      color: rgba(var(--theme-color), 1);      border-color: rgba(var(--theme-color), 1);      font-weight: 500;      font-size: 14px;      border-radius: 8px;"
                        (click)="closeSidebar()">Register</button>
                </div> -->
                <div class="">
                    <button routerLink="/login" class="btn theme-btn w-100 mb-2" (click)="closeSidebar()">Login</button>
                </div>
            </div>
        </div>
        <ul class="profile-list" *ngIf="isLogged()" >
            <li>
                <a routerLink="/home" class="setting-box">
                    <div class="setting-icon">
                        <i class="fa fa-book main-icon"> </i>
                    </div>
                    <div class="setting-content">
                        <h5>My Wallizo</h5>
                        <i class="icon-chevron-right arrow"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="setting-box">
                    <div class="setting-icon">
                        <!-- <i class="icon-document-text-1 main-icon"></i> -->
                        <!-- <i class="fas fa-file-contract"></i> -->
                        <i class="fa fa-gavel" aria-hidden="true"></i>

                        
                    </div>
                    <div class="setting-content">
                        <h5>Terms and Conditions</h5>
                        <i class="icon-chevron-right arrow"></i>
                    </div>
                </a>
            </li>
            <!-- <li>
                <div class="setting-box">
                    <div class="setting-icon">
                        <i class="icon-brush-3 main-icon"> </i>
                    </div>
                    <div class="setting-content">
                        <h5>Dark</h5>
                        <div class="switch-btn">
                            <input id="dark-switch" type="checkbox">
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
        <div class="bottom-sidebar" [hidden]="!isLogged()">
            <a (click)="logout()" class="pages">
               <i class="fa fa-sign-out" aria-hidden="true"></i>

                <h3>Logout</h3>
            </a>
        </div>
    </div>
</div>