/* You can add global styles to this file, and also import other style files */
/* separa un poco los botones */
.swal2-actions { gap: .5rem; }

/* Botón confirmar (AZUL) */
.swal2-popup .swal2-actions .swal2-confirm.dr-confirm {
  background-color: #f9680f !important; /* azul */
  color: #fff !important;
  border: 0 !important;
  border-radius: 10px !important;
  padding: 0.625rem 1rem !important;
  font-weight: 600 !important;
}
.swal2-popup .swal2-actions .swal2-confirm.dr-confirm:hover {
  filter: brightness(.95);
}

/* Botón cancelar (gris) */
.swal2-popup .swal2-actions .swal2-cancel.dr-cancel {
  background-color: #e5e7eb !important;
  color: #111827 !important;
  border: 0 !important;
  border-color: #e5e7eb !important;
  border-radius: 10px !important;
  padding: 0.625rem 1rem !important;
  font-weight: 600 !important;
}
